In [5]:
%pip install SyntheticControlMethods #Beware! Use venv
%pip install openpyxl

Requirement already satisfied: SyntheticControlMethods in ./.venv/lib/python3.12/site-packages (1.1.17)
Requirement already satisfied: numpy>=1.17 in ./.venv/lib/python3.12/site-packages (from SyntheticControlMethods) (2.0.1)
Requirement already satisfied: scipy>=1.4.1 in ./.venv/lib/python3.12/site-packages (from SyntheticControlMethods) (1.14.0)
Requirement already satisfied: pandas>=1.1.2 in ./.venv/lib/python3.12/site-packages (from SyntheticControlMethods) (2.2.2)
Requirement already satisfied: cvxpy>=1.1.7 in ./.venv/lib/python3.12/site-packages (from SyntheticControlMethods) (1.5.2)
Requirement already satisfied: matplotlib>=2.2.3 in ./.venv/lib/python3.12/site-packages (from SyntheticControlMethods) (3.9.1.post1)
Requirement already satisfied: jinja2>=2.10 in ./.venv/lib/python3.12/site-packages (from SyntheticControlMethods) (3.1.4)
Requirement already satisfied: osqp>=0.6.2 in ./.venv/lib/python3.12/site-packages (from cvxpy>=1.1.7->SyntheticControlMethods) (0.6.7.post1)
Requirement already satisfied: ecos>=2 in ./.venv/lib/python3.12/site-packages (from cvxpy>=1.1.7->SyntheticControlMethods) (2.0.14)
Requirement already satisfied: clarabel>=0.5.0 in ./.venv/lib/python3.12/site-packages (from cvxpy>=1.1.7->SyntheticControlMethods) (0.9.0)
Requirement already satisfied: scs>=3.2.4.post1 in ./.venv/lib/python3.12/site-packages (from cvxpy>=1.1.7->SyntheticControlMethods) (3.2.6)
Requirement already satisfied: MarkupSafe>=2.0 in ./.venv/lib/python3.12/site-packages (from jinja2>=2.10->SyntheticControlMethods) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (1.2.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (1.4.5)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (24.1)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.12/site-packages (from matplotlib>=2.2.3->SyntheticControlMethods) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas>=1.1.2->SyntheticControlMethods) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas>=1.1.2->SyntheticControlMethods) (2024.1)
Requirement already satisfied: qdldl in ./.venv/lib/python3.12/site-packages (from osqp>=0.6.2->cvxpy>=1.1.7->SyntheticControlMethods) (0.1.7.post4)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=2.2.3->SyntheticControlMethods) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
from SyntheticControlMethods import Synth
import numpy as np
import pandas as pd

In [6]:
data = pd.read_excel('data_28_06.xlsx')
data

,City,P_avg_per_m_sec,Population,P_avg_per_m_new,Expl_t_avg_sec,month,dummy_space,dummy_time,year,t,Reg_russian,Reg,Federal_district,lat,lon
0,Абаза,19412,12272,NaN,NaN,1,0,0,2019,1,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333
1,Абаза,12500,12272,NaN,NaN,5,0,0,2019,5,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333
2,Абаза,9114,12272,NaN,NaN,8,0,0,2019,8,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333
3,Абаза,13480,12272,NaN,NaN,11,0,0,2019,11,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333
4,Абаза,18473,12272,NaN,NaN,1,0,0,2020,13,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50423,Яхрома,110764,14011,NaN,43 д 17 ч,1,0,1,2024,61,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333
50424,Яхрома,125954,14011,NaN,NaN,2,0,1,2024,62,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333
50425,Яхрома,109608,14011,NaN,44 д 17 ч,3,0,1,2024,63,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333
50426,Яхрома,117442,14011,NaN,117 д 19 ч,4,0,1,2024,64,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333
50427,Яхрома,111994,14011,NaN,15 д 2 ч,5,0,1,2024,65,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333

In [7]:
tmp = data['City']+data['Reg']
cities_list  = list(set(list(tmp)))
cities_dict = {cities_list[i] :i for i in range(len(cities_list))}
data['city_id'] = tmp.apply(lambda x: cities_dict[x])

In [8]:
len(cities_list)

951

In [9]:
data

,City,P_avg_per_m_sec,Population,P_avg_per_m_new,Expl_t_avg_sec,month,dummy_space,dummy_time,year,t,Reg_russian,Reg,Federal_district,lat,lon,city_id
0,Абаза,19412,12272,NaN,NaN,1,0,0,2019,1,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
1,Абаза,12500,12272,NaN,NaN,5,0,0,2019,5,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
2,Абаза,9114,12272,NaN,NaN,8,0,0,2019,8,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
3,Абаза,13480,12272,NaN,NaN,11,0,0,2019,11,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
4,Абаза,18473,12272,NaN,NaN,1,0,0,2020,13,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50423,Яхрома,110764,14011,NaN,43 д 17 ч,1,0,1,2024,61,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50424,Яхрома,125954,14011,NaN,NaN,2,0,1,2024,62,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50425,Яхрома,109608,14011,NaN,44 д 17 ч,3,0,1,2024,63,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50426,Яхрома,117442,14011,NaN,117 д 19 ч,4,0,1,2024,64,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50427,Яхрома,111994,14011,NaN,15 д 2 ч,5,0,1,2024,65,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285

In [10]:
data.drop_duplicates(subset=['city_id', 't'])

,City,P_avg_per_m_sec,Population,P_avg_per_m_new,Expl_t_avg_sec,month,dummy_space,dummy_time,year,t,Reg_russian,Reg,Federal_district,lat,lon,city_id
0,Абаза,19412,12272,NaN,NaN,1,0,0,2019,1,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
1,Абаза,12500,12272,NaN,NaN,5,0,0,2019,5,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
2,Абаза,9114,12272,NaN,NaN,8,0,0,2019,8,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
3,Абаза,13480,12272,NaN,NaN,11,0,0,2019,11,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
4,Абаза,18473,12272,NaN,NaN,1,0,0,2020,13,Республика Хакасия,respublika-khakasiya,Сибирский,52.65000,90.08333,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50423,Яхрома,110764,14011,NaN,43 д 17 ч,1,0,1,2024,61,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50424,Яхрома,125954,14011,NaN,NaN,2,0,1,2024,62,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50425,Яхрома,109608,14011,NaN,44 д 17 ч,3,0,1,2024,63,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50426,Яхрома,117442,14011,NaN,117 д 19 ч,4,0,1,2024,64,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285
50427,Яхрома,111994,14011,NaN,15 д 2 ч,5,0,1,2024,65,Московская область,moskovskaya-oblast,Центральный,56.28333,37.48333,285

In [11]:
#Получаю сбалансированнуюю панель по цене вторички
data.pivot(index='city_id', columns='t', values='P_avg_per_m_sec')

t,1,2,3,4,5,6,7,8,9,10,...,56,57,58,59,60,61,62,63,64,65
city_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,49732.0,18892.0,23399.0,64736.0,35665.0,25301.0,31119.0,26261.0,28797.0,...,49878.0,52034.0,49954.0,47727.0,50813.0,51667.0,53261.0,55369.0,56071.0,63455.0
1,41412.0,44167.0,44500.0,44939.0,43516.0,42159.0,44318.0,43333.0,44194.0,43628.0,...,70485.0,71017.0,72157.0,72958.0,76283.0,71429.0,74859.0,74069.0,77389.0,76330.0
2,23177.0,20428.0,22351.0,22113.0,19044.0,21468.0,21793.0,21652.0,21515.0,23556.0,...,46070.0,42128.0,43665.0,45114.0,50000.0,46000.0,46748.0,52863.0,51579.0,NaN
3,NaN,NaN,37363.0,23227.0,28371.0,28226.0,NaN,NaN,NaN,25258.0,...,39216.0,44478.0,49836.0,40258.0,45801.0,43278.0,49600.0,47073.0,43333.0,49313.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43462.0,43478.0,NaN,64000.0,45620.0,65606.0,48837.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,NaN,NaN,NaN,NaN,14223.0,NaN,37420.0,NaN,20472.0,NaN,...,52632.0,32856.0,36735.0,44067.0,NaN,41892.0,NaN,43826.0,NaN,NaN
947,14878.0,37241.0,25000.0,23964.0,39817.0,26892.0,25839.0,28702.0,31555.0,24240.0,...,37485.0,33964.0,31981.0,30125.0,32951.0,36905.0,30844.0,34848.0,41667.0,36190.0
948,NaN,NaN,NaN,NaN,27737.0,NaN,71523.0,NaN,NaN,NaN,...,21296.0,11224.0,28808.0,NaN,33333.0,NaN,NaN,35951.0,NaN,NaN
949,NaN,NaN,29872.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54945.0,43150.0,NaN,46825.0,21420.0,45298.0,NaN,NaN,32216.0,NaN
950,26471.0,33604.0,22563.0,NaN,25431.0,NaN,18468.0,27536.0,21028.0,30544.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.drop_duplicates(subset=['city_id', 't']).dropna(subset = 'P_avg_per_m_sec').to_csv('arctic1807.csv')

# Тут переделать список тритмент и контрольных через city_id

In [13]:
#Получаю список городов, в которых было воздействие
treatment_cities = list(set(list(data.query('dummy_space == 1')['city_id'])))
#Датафрейм с не тритментом
data['control_flg'] = data['city_id'].apply(lambda x: 0 if x in treatment_cities else 1 )
control_df = data.query('control_flg == 1')

In [14]:
treatment_cities_df = pd.DataFrame({'City': treatment_cities, 'city_id':[cities_dict[city] for city in treatment_cities]})
treatment_cities_df.to_csv('treatment_cities.csv')

KeyError: 128

In [38]:
control_cities = list(set(list(data.query('dummy_space == 0')['City'])))
control_cities_df = pd.DataFrame({'City': control_cities, 'city_id':[cities_dict[city] for city in control_cities]})
control_cities_df.to_csv('control_cities.csv')

In [36]:
i = 2
df = pd.concat([control_df.dropna(subset = 'P_avg_per_m_sec'), data.where(data.City == treatment_cities[i]).dropna(subset = 'City')]).dropna(subset = 'P_avg_per_m_sec').query('year >= 2023')
sc = Synth(df, 'P_avg_per_m_new', 'City', 't', 60, treatment_cities[i])

ValueError: cannot reshape array of size 16 into shape (17,1)

In [26]:
data.where(data.City == treatment_cities[i]).dropna(subset = 'City')

,City,P_avg_per_m_sec,Population,P_avg_per_m_new,Expl_t_avg_sec,month,dummy_space,dummy_time,year,t,Reg_russian,Reg,Federal_district,lat,lon,control_flg
45242,Усинск,42308.0,32182.0,NaN,81 д 4 ч,1.0,1.0,0.0,2019.0,1.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45243,Усинск,42528.0,32182.0,NaN,58 д,2.0,1.0,0.0,2019.0,2.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45244,Усинск,46667.0,32182.0,NaN,95 д 5 ч,3.0,1.0,0.0,2019.0,3.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45245,Усинск,44928.0,32182.0,NaN,84 д 21 ч,4.0,1.0,0.0,2019.0,4.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45246,Усинск,46997.0,32182.0,NaN,28 д 22 ч,5.0,1.0,0.0,2019.0,5.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45301,Усинск,49096.0,32182.0,NaN,201 д 11 ч,12.0,1.0,1.0,2023.0,60.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45302,Усинск,51503.0,32182.0,NaN,83 д,1.0,1.0,1.0,2024.0,61.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45303,Усинск,48435.0,32182.0,NaN,45 д 23 ч,2.0,1.0,1.0,2024.0,62.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45304,Усинск,51771.0,32182.0,NaN,56 д 22 ч,3.0,1.0,1.0,2024.0,63.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0
45305,Усинск,51607.0,32182.0,NaN,62 д 22 ч,4.0,1.0,1.0,2024.0,64.0,Республика Коми,respublika-komi,Северо-Западный,65.995028,57.557139,0.0